<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - 后台管理</title>


    @Styles.Render("~/system/Content")
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>
        if (window.top !== window.self) { window.top.location = window.location };
    </script>
</head>
<body class="gray-bg">

    @RenderBody()



    @Scripts.Render("~/system/jquery")
    <script src="~/Script/Site.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
