<!DOCTYPE html>
<html>
<head>
    <title>@Page.Title</title>
    <meta charset="gb2312">


    @RenderSection("head", required: false)

    @Styles.Render("~/system/Content")
    @Styles.Render("~/system/bootstraptablec")

    @Scripts.Render("~/system/jquery")
    @Scripts.Render("~/system/bootstraptablej")
    @Scripts.Render("~/system/bootstraptableExport")

</head>
<body>

    @RenderBody()

</body>
</html> 